<launch>
  <!-- <node name="keypad" pkg="face_tracking" type="reeti_teleop_key_node"/> -->
  <node name="parser_server" pkg="reeti_parser_server" type="reeti_parser_server_node" output="screen" />

  <node name="blank_image" pkg="face_tracking" type="static_image_pub_node" />

  <node name="back_camera" pkg="cv_camera" type="cv_camera_node" />
  
  <node name="face_tracking" pkg="face_tracking" type="face_tracking_2_eyes_neck_node" />

  <node name="reeti_pose" pkg="reetiros" type="reetiServoPosition_node" />

  <node name="reeti_neck_motion_center" pkg="reeti_parser_server" type="reeti_neck_motion_center.py" />

  <!--<machine name="T410" address="130.215.206.199" user="staryes" password="Sayaka88G" default="true" />
  <node machine="T410" pkg="wiimote" type="wiimote_node" name="wiimote" />
  -->
</launch>