<launch>
  <!-- <node name="keypad" pkg="face_tracking" type="reeti_teleop_key_node"/> -->
  <node name="parser_server" pkg="reeti_parser_server" type="reeti_parser_server_node" output="screen" />

  <node name="blank_image" pkg="face_tracking" type="static_image_pub_node" output="screen"/>

  <node name="back_camera" pkg="cv_camera" type="cv_camera_node" />

  <node name="face_tracking" pkg="face_tracking" type="face_tracking_2_eyes_neck_node" />

  <node name="reeti_pose" pkg="reetiros" type="reetiServoPosition_node" />

  <node name="reeti_neck_motion_center" pkg="reeti_parser_server" type="reeti_neck_motion_center.py" />

  <node name="reeti_conversation_motion" pkg="reeti_parser_server" type="reeti_conversation_motion.py" />

  <arg name="device" default="" />
  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py">
    <param name="device" value="$(arg device)" />
  </node>

  <node name="left_monitor" pkg="image_view" type="image_view" output="screen">
    <remap from="image_view" to="left_image_view" />
    <remap from="image" to="/static_image0"/>
  </node>
  <node name="right_monitor" pkg="image_view" type="image_view" output="screen">
    <remap from="image_view" to="right_image_view" />
    <remap from="image" to="/static_image1"/>
  </node>

  <!--<machine name="T410" address="130.215.206.199" user="staryes" password="Sayaka88G" default="true" />
      <node machine="T410" pkg="wiimote" type="wiimote_node" name="wiimote" />
      -->
</launch>